[Unit]
Description=Foundry VTT

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/foundryvtt/
ExecStart=node /home/ubuntu/foundryvtt/resources/app/main.js --dataPath=/home/ubuntu/foundrydata
Restart=always

[Install]
WantedBy=multi-user.target
